<a href="https://colab.research.google.com/github/SergioPedroso/Classificacao_supervisionada_decision_tree_random_forest/blob/main/Exerc%C3%ADcio_Decision_Tree_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando o arquivo

In [1]:
from google.colab import files
upload = files.upload()

Saving [Copy] - Bank_Personal_Loan_Modelling.xlsx to [Copy] - Bank_Personal_Loan_Modelling.xlsx

## Preparando o dataframe

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('[Copy] - Bank_Personal_Loan_Modelling.xlsx', sheet_name='Data')
df = df.drop(axis=1, columns=['ID','ZIP Code'])
df.head()

   Age  Experience  Income  ...  CD Account  Online  CreditCard
0   25           1      49  ...           0       0           0
1   45          19      34  ...           0       0           0
2   39          15      11  ...           0       0           0
3   35           9     100  ...           0       0           0
4   35           8      45  ...           0       0           1

[5 rows x 12 columns]

In [4]:
df.describe()

               Age   Experience  ...       Online   CreditCard
count  5000.000000  5000.000000  ...  5000.000000  5000.000000
mean     45.338400    20.104600  ...     0.596800     0.294000
std      11.463166    11.467954  ...     0.490589     0.455637
min      23.000000    -3.000000  ...     0.000000     0.000000
25%      35.000000    10.000000  ...     0.000000     0.000000
50%      45.000000    20.000000  ...     1.000000     0.000000
75%      55.000000    30.000000  ...     1.000000     1.000000
max      67.000000    43.000000  ...     1.000000     1.000000

[8 rows x 12 columns]

In [5]:
df = df.loc[df['Experience']>=0]
df.describe()

               Age   Experience  ...       Online   CreditCard
count  4948.000000  4948.000000  ...  4948.000000  4948.000000
mean     45.557195    20.331043  ...     0.597009     0.294058
std      11.320735    11.311973  ...     0.490549     0.455664
min      24.000000     0.000000  ...     0.000000     0.000000
25%      36.000000    10.750000  ...     0.000000     0.000000
50%      46.000000    20.000000  ...     1.000000     0.000000
75%      55.000000    30.000000  ...     1.000000     1.000000
max      67.000000    43.000000  ...     1.000000     1.000000

[8 rows x 12 columns]

In [6]:
df.isnull().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [7]:
df["Personal Loan"].value_counts()

0    4468
1     480
Name: Personal Loan, dtype: int64

In [8]:
df_class_1 = df[df["Personal Loan"] == 1]
df_class_0 = df[df["Personal Loan"] == 0].sample(n=1500)
df = df_class_1.append(df_class_0)

In [9]:
#Segementa√ß√£o em  input e target e valida√ß√£o do shape
X = df.drop(axis=1, columns=['Personal Loan'])
y = df[['Personal Loan']]
print('Shape do dados','\n','x = ',X.shape,'\n','Y = ',y.shape)

Shape do dados
 x =  (1980, 11)
 Y =  (1980, 1)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

In [20]:
print('Shape do dados:')
print(f'X_train = {X_train.shape}')
print(f'X_test = {X_test.shape}')
print(f'y_train = {y_train.shape}')
print(f'y_test = {y_test.shape}')

Shape do dados:
X_train = (1584, 11)
X_test = (396, 11)
y_train = (1584, 1)
y_test = (396, 1)

## Treinando o modelo

In [21]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion='entropy',random_state=0)

clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [22]:
y_pred = clf.predict(X_test)

### Avaliando m√©tricas

In [33]:
from sklearn.metrics import accuracy_score

print(f'Acur√°cia do modelo: {accuracy_score(y_test,y_pred)*100}%')

Acur√°cia do modelo: 95.70707070707071%

## Classificador Random Forest

In [35]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(criterion='entropy', n_estimators=150) 
clf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

### Avaliando m√©tricas

In [37]:
y_pred = clf.predict(X_test)
print(f'Acur√°cia do modelo: {accuracy_score(y_test,y_pred)*100}%')

Acur√°cia do modelo: 96.96969696969697%